@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
.matches h3 {
  text-align: center;
  margin-top: 20px;
}
.live {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.game {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 20px 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.hometeam,
.awayteam {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.game img {
  width: 20px;
  margin-right: 10px;
}
.game a{
  margin-top: 10px;
}
