*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.game{
    display: flex;
  
}
.team{
   margin: 0 10px;
}
.game-link{
    margin-left: 10px;
}