@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,100&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  padding: 25px;
  display: flex;
  width: 95%;
  justify-content: space-between;
}
.watch-live {
  text-align: center;
  padding: 20px;
}
.watch-live a{
  
  padding: 20px 30px;
  background: rgb(206, 28, 28);
  color: #fff;
  text-decoration: none;
  border-radius: 10px;

}
.card {
  /* align-items: center; */
  justify-content: center;
  width: 90%;
  display: flex;
  gap: 50px;

  flex-wrap: wrap;
  margin: auto;
}
.news-card {
  height: 300px;
  width: 300px;
  margin-top: 100px;
}
.news-card p {
  font-size: 12px;
  width: 100%;
}
.card img {
  width: 300px;
  object-fit: cover;
  height: 200px;
}

@media (max-width: 600px) {
  .card {
    width: 330px;
  }
  .news-card {
    height: 300px;
    overflow-y: scroll;
    margin-top: 50px;
  }
  .news-card p {
    font-size: 12px;
  }
  .card img {
    width: 100%;
    object-fit: cover;
  }
  body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  nav {
    padding: 25px;
    display: flex;
    width: 95%;
    justify-content: space-between;
  }
}
