@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,100&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card {
  width: 280px;
}
.news-card {
    height: 300px;
    overflow-y: scroll;
  margin-top: 50px;

}
.card img {
  width: 100%;
  object-fit: cover;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
h1 {
  color: red;
}

nav {
  padding: 25px;
  display: flex;
  width: 95%;
  justify-content: space-between;
}
